body {
  background-image: url("../assets/images/ocean.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  display: flex;
  justify-items: center;
  margin-bottom: 256px;
}

.title {
  color: gray;
  width: 90%;
  text-align: end;
  text-shadow: 2px 2px white;
  font-weight: normal;
  margin: 0px auto;
}

.description {
  display: flex;
  justify-items: center;
  margin-bottom: 64px;
}

.paragraph {
  width: 50%;
  text-align: end;
  font-weight: 600;
  line-height: 16px;
  word-spacing: 16px;
}
